.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ion-grid {
  margin: 0;
  padding: 0;
}
ion-col {
  padding: 0;
}

ion-icon {
  font-size: 20px;
}

ion-card {
  width: 80%;
  height: auto;
  margin: 15px auto;
  padding-bottom: 10px;
  -webkit-box-shadow: -1px 6px 18px -4px rgba(94, 94, 94, 1);
  -moz-box-shadow: -1px 6px 18px -4px rgba(94, 94, 94, 1);
  box-shadow: -1px 6px 18px -4px rgba(94, 94, 94, 1);
}

ion-card-title {
  font-size: 16px;
  border-bottom: 1px solid #eee;
}

.font-12 {
  font-size: 12px;
}

.font-11 {
  font-size: 11px;
}

.event-img {
  padding: 0;
}

.event-img ion-img {
  width: 100%;
  padding: 0;
}
