.card-content-ios {
    padding: 0 10px;
}

.advertCard {
    padding: 0;
    height: auto;
}
.totalAd {
    background-color: #009e4f;
    width: 150px;
    height: 50px;
    margin: 5px auto;
    padding: 13px;
    color: white;
    font-weight: 600;
    text-align: center;
}

.flex-row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

.align-center {
    display: flex;
    align-items: center;
}

.fontStyle {
    color: black;
    text-align: center;
    font-size: 15.5px;
    line-height: 22px;
    padding-right: 10px;
}

.listStyle {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.listStyle li{
    font-size: 13px;
}