.webmap {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.esri-popup__main-container {
  background-color: #eee !important;
}

.esri-popup__header-title {
  background-color: rgb(37, 128, 214) !important;
  color: white;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.popup .head {
  width: 100%;
  height: auto;
  background-color: #eee;
}

.popup .head ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.popup .head ul li {
  font-size: 13px;
  background-color: #2580d6;
  padding: 10px;
  margin: 5px;
  color: white;
  border-radius: 10px;
}

.popup .head ul li i {
  margin-right: 10px;
}
.popup .cardBody {
  padding: 10px;
  background-color: #eee;
}

.popup .cardBody p {
  border-top: 2px solid rgb(30, 144, 197);
  border-bottom: 2px solid rgb(30, 144, 197);
  margin-top: 20px;
  padding: 10px 0;
}

.popup .cardBody p span {
  font-weight: 900;
}
